* {
  margin: 0;
}

body {
  font-family: "Aeonik", sans-serif;
  background-color: black;
  color: white;
  padding: 0 40px;
  height: 5847px;
  width: 1440px;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 118px;
}

.logo {
  margin-top: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 35px;
  padding: 0;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul button {
  width: 204px;
  height: 50px;
  padding: 16px 8px;
  border: 1.5px solid white;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.welcome-element {
  width: 1200px;
  padding: 0px 118px;
  border-radius: 5px;
  margin: 96px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-element-text {
  width: 917px;
}

.welcome-element-text h1 {
  font-weight: bold;
  font-size: 65px;
  line-height: 1.5;
  text-align: center;
}

.welcome-element-text h4 {
  text-align: center;
  font-weight: 400;
  font-style: 22px;
  color: #e5e5e5;
  margin-top: 40px;
}

.welcome-element-button {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.welcome-element-button button:first-child {
  width: 204px;
  height: 50px;
  background-color: #3775ed;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}

.welcome-element-button button:last-child {
  width: 204px;
  height: 50px;
  background-color: black;
  border: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 500;
}

.welcome-element-img {
  width: 1200px;
  height: 514px;
  margin: auto;
}

.content-element {
  margin-top: 190px;
  color: white;
}

.content-element-text h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
}

.content-element-text h4 {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  color: #e5e5e5;
}

.content-element-list {
  display: flex;
  justify-content: space-between;
  padding: 0 118px;
  margin-top: 40px;
}

.content-element-list .content-list-item {
  width: 385px;
  height: 277px;
  background-color: #c96408;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.content-list-item .icon {
  box-shadow: 0 0 8px rgb(0 0 0 / 25%);
}

.content-element-list .content-list-item:nth-child(2) {
  background-color: #7937bb; /* Màu sắc cho phần tử thứ 2 */
  gap: 40px;
}

.content-list-item:nth-child(2) img {
  margin-top: 30px;
  box-shadow: 0 0 8px rgb(0 0 0 / 25%);
}

.content-element-list .content-list-item:nth-child(3) {
  background-color: #3775ed; /* Màu sắc cho phần tử thứ 3 */
  gap: 40px;
}

.content-list-item:nth-child(3) img {
  margin-top: 30px;
  box-shadow: 0 0 8px rgb(0 0 0 / 25%);
}

.content-list-item-header {
  width: 100%;
  position: relative;
}

.content-list-item-header img {
  width: 66px;
  height: 64px;
  position: absolute;
  top: -24.2px;
  left: -21px;
}

.content-list-item-header img:last-child {
  width: 66px;
  height: 64px;
  position: absolute;
  top: -24.8px;
  left: 339px;
}

.content-element-list .content-list-item h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
.content-element-list .content-list-item h4 {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
}

.content-element-img {
  display: grid;
  place-content: center;
  margin-top: 30px;
}

.feature-element {
  width: 1200px;
  padding: 0px 118px;
}

.feature-element-header {
  width: 551px;
  height: 199px;
  margin-top: 80px;
}

.feature-element-header h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 2;
  color: #fff;
}

.feature-element-header p {
  font-weight: 400;
  font-size: 22px;
  line-height: 2;
  color: #fff;
}

.feature-element-item {
  width: 282px;
  height: 304px;
  position: relative;
}

.feature-img {
  width: 282px;
  height: 304px;
  border-radius: 4px;
}

.feature-description {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
  top: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.feature-description i {
  width: 20px;
  height: 20px;
  color: white;
  padding-right: 20px;
}

.feature-block-detail img {
  width: 20px;
  height: 20px;
}

.feature-block-detail {
  display: flex;
}

.feature-block-left {
  padding-left: 20px;
  gap: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-block-left h4 {
  font-weight: 500;
  font-size: 20px;
}

.feature-block-detail {
  display: flex;
  gap: 10px;
  align-items: center;
}

.feature-block-detail h5 {
  font-weight: 400;
  font-size: 14px;
}

.feature-element-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 20px;
}

.feature-element-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.feature-element-button button {
  width: 204px;
  height: 50px;
  background-color: #3775ed;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}

.message-text {
  display: flex;
  flex-direction: column;
  width: 1200px;
  justify-content: center;
  align-items: center;
  padding: 0px 118px;
  margin-top: 40px;
  border-top: 1px solid #282828;
}

.message-text h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 3;
}

.message-text h4 {
  font-weight: 400;
  font-size: 22px;
}

.message-image {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0px 118px;
  gap: 26px;
}

.message-image-item {
  background: #1a1919;
  width: 27%;
  padding: 21px;
  height: 152px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  border-radius: 5px;
  flex: 0 0 calc((100% - (3 - 1) * 89px) / 3);
}

.message-image-item h4 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}

.message-image-detail {
  display: flex;
  align-items: center;
}

.message-image-detail img {
  width: 30px;
  height: 30px;
  border: 1px solid #fec925;
  margin-right: 10px;
  border-radius: 100%;
}

.enjoy-element::before {
  content: "";
  position: absolute; /* Đặt vị trí tuyệt đối */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* Giúp lớp phủ giãn ra để che phủ toàn bộ phần tử cha */
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0px);
  z-index: 1; /* Đảm bảo lớp phủ nằm trên ảnh nền */
}

.enjoy-element {
  background-image: url("./img/enjoy-img.jpg");
  max-width: 1200px;
  padding: 0px 118px;
  height: 800px;
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 160px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* Để ::before có thể định vị tuyệt đối bên trong nó */
  overflow: hidden; /* Đảm bảo mọi thứ không tràn ra ngoài nếu có */
}

.enjoy-element-text {
  padding-left: 80px;
  z-index: 2;
  position: relative;
}

.enjoy-element-text h3 {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.5;
}

.enjoy-element-text h4 {
  font-weight: 400;
  font-size: 22px;
  margin-top: 30px;
}

.join-element {
  box-sizing: border-box;
  background-color: #3775ed;
  max-width: 1200px;
  height: 291px;
  padding: 0px 118px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 80px auto;
  position: relative; /* Để các pseudo-elements có thể định vị tuyệt đối bên trong nó */
  overflow: hidden;
}

/* Pseudo-element cho đường viền trên */
.join-element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 118px;
  right: 118px;
  height: 1px;
  background-color: #282828;
}

/* Pseudo-element cho đường viền dưới */
.join-element::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 118px;
  right: 118px;
  height: 1px;
  background-color: #282828;
}

.join-element h3 {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.5;
}

.join-element h4 {
  font-weight: 400;
  font-size: 22px;
  margin-top: 30px;
}

.join-element button {
  width: 204px;
  height: 50px;
  background-color: black;
  border: none;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
}

.join-element-border {
  padding: 10px 0px;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 118px;
  width: 1200px;
  margin-top: 80px;
}

.group-icons {
  display: flex;
  gap: 20px;
}
.group-icons i {
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}

/* Mặc định: Hiển thị ảnh desktop, ẩn ảnh mobile */
.content-element-img .desktop-img {
  display: block;
}

.content-element-img .mobile-img {
  display: none;
}

/* Media query cho màn hình mobile (ví dụ: dưới 768px) */
@media (max-width: 768px) {
  .content-element-img .desktop-img {
    display: none;
  }

  .content-element-img .mobile-img {
    display: block;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0px;
    width: 360px;
  }
  .header {
    padding: 0px 10px;
  }
  nav {
    display: none;
  }

  .welcome-element {
    width: 340px;
    padding: 0px 10px;
  }

  .welcome-element-text {
    width: 340px;
  }

  .welcome-element-text h1 {
    font-size: 35px;
  }
  .welcome-element-text h4 {
    font-size: 18px;
  }

  .welcome-element-button {
    flex-direction: column;
  }
  .welcome-element-button button:first-child {
    width: 100%;
  }
  .welcome-element-button button:last-child {
    width: 100%;
  }

  .welcome-element-img {
    width: 360px;
    height: 348px;
    margin: 0;
  }

  .welcome-element-img img {
    width: 360px;
    height: 348px;
  }

  .content-element {
    padding: 0px 10px;
  }
  .content-element-text h2 {
    font-size: 24px;
  }

  .content-element-text h4 {
    font-size: 16px;
  }

  .content-element-list {
    flex-direction: column;
    gap: 10px;
    padding: 0px;
  }

  .content-element-list .content-list-item {
    width: 340px;
  }

  .content-list-item-header {
    display: none;
  }

  .content-list-item:nth-child(1) img {
    margin-top: 30px;
  }

  .feature-element {
    padding: 0px 10px;
    width: 340px;
  }

  .feature-element-header {
    width: 360px;
  }
  .feature-element-header h2 {
    font-size: 24px;
    text-align: center;
  }
  .feature-element-header p {
    text-align: center;
    font-size: 16px;
  }

  .feature-element-item {
    width: 360px;
  }

  .feature-img {
    width: 100%;
  }

  .message-text {
    width: 360px;
    padding: 0px 10px;
  }
  .message-text h3 {
    font-size: 26px;
  }
  .message-text h4 {
    font-size: 16px;
    text-align: center;
  }
  .message-image {
    padding: 0px 10px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .message-image-item {
    width: 320px;
    padding: 10px;
  }

  .enjoy-element {
    height: 429px;
    object-fit: cover;
  }

  .enjoy-element-text h3 {
    font-size: 28px;
    position: absolute;
    top: 0;
    left: -108px;
    line-height: 1.5;
  }
  .enjoy-element-text h4 {
    position: relative;
    font-size: 16px;
    top: 110px;
    left: -186px;
    width: 195px;
  }

  .join-element-border {
    padding: 0 10px;
    width: 340px;
  }

  .join-element h3 {
    position: absolute;
    width: 100%;
    font-size: 28px;
    line-height: 1.5;
    text-align: left;
    top: 20px;
    margin-left: 40px;
  }
  .join-element h4 {
    position: absolute;
    width: 100%;
    font-size: 16px;
    text-align: left;
    margin-left: 40px;
    top: 110px;
  }

  .join-element button {
    position: absolute;
    margin-left: -94px;
    top: 212px;
  }

  footer {
    display: none;
  }
}
